<% content_for :title, "Catalogando | Categorias" %>

<nav class="navbar bg-body-tertiary">
  <%= content_for :page_header do %>
    <div class="container-fluid d-flex justify-content-between">
      <h1>
        <%= fa_icon "list" %>
        <%= link_to 'Categorias', categories_path, class: 'navbar-brand text-dark' %>
      </h1>

      <%= link_to_new_resource("Nova categoria", new_category_path) %>
    </div>
  <% end %>
</nav>

<div id="categories">
  <table class="table table-sm table-striped">
    <thead class='table-dark'>
      <tr>
        <th>Nome</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
        <%= render category %>
      <% end %>
    </tbody>
  </table>
</div>
