<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="dark">

  <div class="sidebar-logo">
    <!-- Logo Header -->
    <div class="logo-header" data-background-color="dark">
      
      <h4 class='text-white'><%= current_entity.name.upcase %></h4>

      <div class="nav-toggle">
        <button class="btn btn-toggle toggle-sidebar">
          <i class="gg-menu-right"></i>
        </button>
        <button class="btn btn-toggle sidenav-toggler">
          <i class="gg-menu-left"></i>
        </button>
      </div>
      <button class="topbar-toggler more">
        <i class="gg-more-vertical-alt"></i>
      </button>
    </div>
    <!-- End Logo Header -->
  </div>

  <div class="sidebar-wrapper scrollbar scrollbar-inner">
    <div class="sidebar-content">
      <ul class="nav nav-secondary">
        <li class="nav-item <%= controller_name == 'dashboard' ? 'active' : '' %>">
          <%= link_to entity_dashboard_index_path do %>
            <%= fa_icon "area-chart" %>
            
            <p>Dashboard</p>
          <% end %>
        </li>

        <li class="nav-section">
          <span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
          </span>

          <h4 class="text-section">Menu</h4>
        </li>

        <li class="nav-item submenu <%= controller_name != 'dashboard' ? 'active' : '' %>">
          <a data-bs-toggle="collapse" href="#entity_base">
            <%= fa_icon "database" %>
            <p>Base</p>
            <span class="caret"></span>
          </a>

          <div class="collapse <%= controller_name != 'dashboard' ? 'show' : '' %>" id='entity_base'>
            <ul class="nav nav-collapse">
              <li class="<%= controller_name == 'products' ? 'active' : '' %>">
                <%= link_to entity_products_path do %>
                  <span class="sub-item">Produtos</span>
                <% end %>
              </li>
              <li class="<%= controller_name == 'categories' ? 'active' : '' %>">
                <%= link_to entity_categories_path do %>
                  <span class="sub-item">Categorias Produtos</span>
                <% end %>
              </li>
            </ul>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
<!-- End Sidebar -->
