<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Catalogando" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%= stylesheet_link_tag "entities", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "entities", "data-turbo-track": "reload", type: "module" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  </head>

  <body>
    <div class="wrapper">
      <%= render 'entity_module/sidebar' %>

      <div class="main-panel">
        <%= render 'entity_module/navbar_header' %>

        <div class="container">
          <div class="page-inner">
            <%= render 'shared/flash_messages' %>

            <%= content_for(:page_header) || "<h2>Dashboard</h2>".html_safe %>

            <%= yield %>
          </div>
        </div>

        <%= render 'entity_module/footer' %>
      </div>
    </div>
  </body>
</html>
