<tr id="<%= dom_id product %>">
  <td><%= product.name %></td>
  <td><%= humanized_money_with_symbol product.price_cents %></td>
  <td><%= number_to_percentage product.discount %></td>
  <td><%= humanized_money_with_symbol product.final_price %></td>
  <td><%= product.visible %></td>
  <td>
    <%= render 'actions', product: product %>
  </td>
</tr>
